head
  link(rel="stylesheet" href="css/main.css")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')

body
  .app
    .app__title 
    .app__container
      .board
        .board__row
          .square
          .square
          .square
        .board__row
          .square
          .square
          .square
        .board__row
          .square
          .square
          .square
      .reset-game-btn reset
        

  script(src="js/index.js")